.main-view{
  margin-left: 15em;
  min-width: 200px;
  /* padding: 10px; */
  /* height: 100%; */
  /* background-color: gold; */
  display: block;
}

.background{
  background-image: url("fabric-3295563_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hidden{
  display: none;
}
.banner{
  /* display: flex; */
  padding: 5px;
  margin-bottom: 10px;
   background: #f9f7f7;
  font-size: 20px;
  text-align: center!important;
  font-family: "Times New Roman", Times, serif;
}
.banner:hover{
  cursor: pointer;
}
.button-container{
  width: 100%;
  text-align: center!important;
}
