.learning-content-view{
  margin-left: 15em;
  padding: 10px;
}
:focus {
  outline: 0;
}
.center{
  text-align: center;
}
.lc-tip{
  text-align: center;
  margin-top: 10px;
}
.delete-content-btn-container{
  text-align: center;
}
.background{
  position: fixed;
  overflow: auto;
  z-index: 0;
  background-attachment: fixed;
  background-image: url("../images/business-financial-corporate-data-network-world-map-background-loop-01_bnfss_ba_thumbnail-full01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
