.post-view{
  margin-left: 15em;
  min-width: 200px;
  /* padding: 10px; */
  /* height: 100%; */
  /* background-color: gold; */
  display: block;
}
.announcement-post-container{
  padding: 15px;
  position: relative;
  margin: 0 auto;
  min-width: 300px;
  max-width: 650px;
  border: .1em solid;
}
.vote-post-container{
  padding: 15px;
  position: relative;
  margin: 0 auto;
  min-width: 300px;
  max-width: 650px;
  border: .1em solid;
}
.learning-content-post-container{
  padding: 15px;
  position: relative;
  margin: 0 auto;
  min-width: 300px;
  max-width: 650px;
  border: .1em solid;
}
.tab-content{
  margin-top:20px;
}
