.voting-container{
  background-color: white;
  min-width: 200px;
  max-width: 750px;
  border:.1em solid grey;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 25px;
  box-shadow: 2px 5px #888888;
}
.voting-yes-no-vote{
  text-align: center;
  color: white;
}
.voters-yes{
  background-color: green;
  padding: 5px;
}
.vote-yes{
  width: 100px;
}
.vote-no{
    width: 100px;
}

.voters-no{

  background-color: red;
  padding: 5px;
}
.vote-bar{
  /* display:flex; */
  height:auto;
  text-align: center;
  color:white;
  margin-bottom: 10px;
}
.voting-stock-title{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.voting-download-label{
  margin-bottom:20px;
}
.voting-download-link{
  color: blue;
}
