/*NEW Bootstrap LeftNav CSS Styling*/
.wrapper{
  display: flex;
  width: 100%;
}

.side-bar{
  max-width: 15em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* background-color: rgb(230,230,230); */
  border-radius: 0px;
}

.navbar-header{
  width: 100%;
}

.navbar-brand{
  height: fit-content;
  width: fit-content; 
}

.container-fluid{
  padding: 0;
}

#leftNavLogo{
  margin-left: 50%;
}

.LeftNav-Item {
  /* padding: 0.5em; */
  text-align: center;
  font-size: 1.15em;
  width: 100%;
}

.LeftNav-Item p {
  font-family: Times !important;
}

.LeftNav-Item:hover {
    background-color: rgb(210, 210, 210);
}

.LeftNav-Item img {
  width: 2em;
  padding-bottom: 0.5em;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

/*OLD LeftNav CSS styling */

=======
.side-logo-container{
>>>>>>> Converted LeftNav bar to react-bootstrap Navbar
=======
/* .side-logo-container{
>>>>>>> More responsive improvements for leftnav
  margin: 0 auto;
display: block;
width: 125px;
position: relative;
}

.LeftNav {
  position: fixed;
  display: block;
  width: 15em;
  height: 100%;
  background-color: rgb(230,230,230);
}

.LeftNav-Title {
  padding-top: 1em;
  text-align: center;
  font-family: 'Lato-Regular'
}

.LeftNav-Container {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto-Condensed'
}

.LeftNav-Container button {
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* .active-tab{
    background-color: rgb(210, 210, 210);
} */


