/*NEW Bootstrap LeftNav CSS Styling*/
/* .wrapper{
  display: flex;
  width: 100%;
} */


@media screen and (max-width: 1024px){
  .side-bar{
    width: 5em;
  }

  .navbar-nav{
    width: 5em;
    display: inline-block;
    float: none;
    vertical-align: top;  
    margin: 0;
    transition: width 2s;
  }

  .navbar-header{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .left-nav-text {
    font-size:0;
  }

  .left-nav-icon{
    color: black !important;
  }
}

.left-nav-icon{
  color: transparent;
}

.side-bar{
  max-width: 15em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* background-color: rgb(230,230,230); */
  border-radius: 0px;
}

.navbar-header{
  width: 100%;
  padding: 0;
  align-content: center;
}

.navbar-brand{
  height: fit-content;
  float: none;
}

.container-fluid{
  padding: 0;
}

#leftNavLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.LeftNav-Item {
  text-align: center;
  font-size: 1.15em;
  min-width: 100%;
}

.LeftNav-Item p {
  font-family: Times !important;
}

.LeftNav-Item:hover {
    background-color: rgb(210, 210, 210);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

/*OLD LeftNav CSS styling */

.side-logo-container{
=======
/* .side-logo-container{
>>>>>>> More responsive improvements for leftnav
=======
/* .side-logo-container{
>>>>>>> More responsive improvements for leftnav
  margin: 0 auto;
display: block;
width: 125px;
position: relative;
}

.LeftNav {
  position: fixed;
  display: block;
  width: 15em;
  height: 100%;
  background-color: rgb(230,230,230);
}

.LeftNav-Title {
  padding-top: 1em;
  text-align: center;
  font-family: 'Lato-Regular'
}

.LeftNav-Container {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto-Condensed'
}

.LeftNav-Container button {
  background: none;
  border: none;
  width: 100%;
  cursor: pointer; */
/* } */

/* .LeftNav-Item img {
  width: 2em;
  padding-bottom: 0.5em;
} */



