@import 'https://fonts.googleapis.com/css?family=Crimson+Text';

/*New Navbar Menubar CSS */
.menu-bar{
  border-top: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  background-color: white;
  font-size: 10pt;
  letter-spacing:1px;
  z-index: 5;
  font-family: Times !important;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.menu-item:hover{
  background: grey;
	background-color: rgb(210, 210, 210);
}

.menu-hamburger{
  background: transparent;
  border: 0px;
}

.menu-item{
  font-weight: 600;
  font-size: 16px;
}
