  .Login {
    margin:20px 0;
  }

.alert{
  margin-bottom: 20px!important;
}
  .help-block{
    color: #337ab7 !important;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .control-label{
    margin-bottom: 5px !important;
    font-weight: 700;
  }

  .Alert{
    max-width: 320px;
    margin: auto;
  }
